<template name="commentItem">
	<hr style="height: 1px;border-top:1px solid #eeeeee;margin:5px;" />
	<div style="display:inline-block;vertical-align:top;text-align:center;">
		<img src="{{usericon}}" alt="头像" style="height:30px;width:30px;margin:15px;" class="img-circle">
	</div>
	<div style="display:inline-block;margin:5px;">
		    <h4>
		      <span class="author">{{author}} ,这里是简介啊简介</span>
		    </h4>
		    <div class="commentBody">
				<!--评论所在地-->
			</div>
		    <span class="date" style="font-size: 5px;float: left;color: #5d5d5d;">on {{submittedText}}</span>
	</div>
	<div style="clear:both"></div>

</template>
